.movie-link{
    text-decoration: none;
    color: white;
}
.actor-movie-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 700px) {
    .cinemaImg{
        width: -webkit-fill-available;
    }
}

