.search-result {
    display: grid;
    grid-template-columns: 20% 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.search-title{
    flex-direction: column;
}.search-title > p{
     font-size: 0.6em;
     color: #b5b4b8;
 }
.search-result > img{
    max-height: 100px;
    max-width: 100px;
    min-width: 100px;
    min-height: 100px
}
.search-result > p{
    max-width: 100px;
    max-height: 100px;
}
.search-result-link {

}

.search-result-body{
    position: absolute;
    background: #403e3f;
    width: 50%;
    z-index: 1;
    grid-area: result;
}
.deleteFromListBtn {
	flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .search-result-body{
        width: 100%;
    }
}