.login-fields{
    margin: 100px;
}
.email-input{
    margin: 20px
}
.password-input{
    margin: 20px
}
.login-btn{
    max-width: 100%;
    background-color: #780202;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
}
.login-btn:hover {
    background-color:#d40303;
}
.password-reset-btn:hover {
    background-color:#d40303;
}
.password-reset-btn{
    max-width: 100%;
    background-color: #780202;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 17px;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
}