.actor-bio{
    margin-bottom: 50px;
}
.actor-bio > img{
    float: left;
}
.actor-info{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .actor-bio > img{
        width: -webkit-fill-available;
    }
}

