.search-input {
    border-radius: 25px;
    background: #464843;
    max-width: 400px;
    max-height: 20px;
    min-width: 400px;
    min-height: 20px;
    color: red;
    border: none;

}
.search-field{
}
.search-body{
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
}
.login{
    justify-self: right;
}

.search-body > img{
    width: 100%;   
}