.profilePic > img{
    width: 70%;
}
.MyPage{
display: grid;
    grid-template-columns: 33% 67%;
}
	.MyPage > ListConatainer {
		width: 100%;
		
	}
#navbar{
    display: flex;
}
@media only screen and (max-width: 700px) {
    .MyPage{
        display: block;
    }
    .profilePic > img{
        width: 70%;
    }
}