.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.email-input{
  border: none;
  font-size: 17px;
  background-color:#780202;
  display:inline-block;
  color: white;
}

.App-link {
  color: #09d3ac;
}
.App-header {
  width:100%;
  margin-right: 0;
}