

.list-result {
	display: grid;

	grid-template-columns: 20% 60% 20%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.list-title {
	flex-direction: column;
}

.list-title > p {
	font-size: 0.6em;
	color: #b5b4b8;
}

.list-img {
	max-height: 100px;
	max-width: 100px;
	min-width: 100px;
	min-height: 100px
}

.list-result > p {
	max-width: 100px;
	max-height: 100px;
}

.list-result-link {
}

.list-result-body {
	position: absolute;
	background: #403e3f;
	width: 50%;
	z-index: 1;
}
.deleteFromListBtn {
	grid-column-start: 3;
	grid-column-end: 4;
	max-width: 120px;
	background-color: #780202;
	border-radius: 25px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 17px;
	padding: 10px 30px;
	text-decoration: none;
	border: none;
	overflow: hidden;
}



